.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background:#F0FFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
-webkit-box-shadow: 2px 2px 10px 3px #000000; 
box-shadow: 2px 2px 10px 3px #000000;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h2 {
  font-size: 27px;
  font-weight: 500;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background:#000080;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;

}

.container.index {
  margin: auto;
  font-size: 18px;
}

.container .Correct {
  background:#a7e1e9;
  border-color:#0000CD;
}

.container .Wrong {
  background: #FFEBEB;
  border-color: #FF4A4A;
}
